.main-page {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
